h1.nameAss {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21.0737px;
}

label.titleSub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.0491px;
    display: block;
    margin-bottom: 10px;
}

.assesstestA input[type='radio'] {
    visibility: hidden;
}


.textpart {
    width: 350px;
    margin: auto;
}

@media (min-width: 76px) and (max-width: 767.98px) { 
    .textpart{
        width: auto;
        text-align: center;
    }

    .textpart input, .textpart select {
        margin: auto;
    }
}
