
.assesmentList button{
    margin-top: 40px;
}
.assesmentList input {
    width: 100%;
    border: 1px solid #CECECE;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px 20px;
    margin-bottom: 16px;
    outline: none;
}